* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-image: url("../rocketship.png");
  background-repeat: no-repeat;
  background-position: center top; 
}

.wrapper {
  height: 100%;
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

.main-controls {
  padding: 0.5rem 0;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/*#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
  height: calc(50% - 0.25rem);
}*/

#buttons button {
  min-width: 175px;
  max-width: 275px;
  display: inline-block;
  border-radius: 100%;
  overflow: none;
  text-align: center;
  margin-left: calc(50% - 137px);
  margin-bottom: 25px;
  padding:0;
  font-size: 3rem;
  background: #0088cc;
  color: white;
  border: none;
  transition: all 0.2s;
}
button:before {
  content:'';
  display:inline-block;
  vertical-align: middle;
  padding-top:100%;
}
button {
}

button:hover, button:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #0ae;
}

button:active {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}


section, article {
  display: block;
}
audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

#screenon {
  height: 0;
  width: 0;
}

/* Adjustments for wider screens */
@media all and (min-width: 800px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}